.profile__clothes-section {
  margin-top: 7px;
  max-width: 1015px;
}

.profile__clothes-section-header {
  display: flex;
}

.profile__clothes-section-title {
  font-size: 20px;
  margin: 0;
}

.profile__clothes-section-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 16px;
  column-gap: 15px;
  row-gap: 20px;
  padding: 0;
}

.profile__add-clothes-btn {
  margin: 0 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}

.profile__add-clothes-btn:hover {
  cursor: pointer;
}
